body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  
}
header {
  background-color: grey;
  padding: 1em 0;
}
header h1 {
  color: azure;
  font-size: 2.5em;
  font-style: italic;
  font-weight: 100;
  display: inline-block;
  position: relative;
  bottom: 30px;
}
nav {
  background-color: black;
  margin-bottom: 2em;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  width: 16%;
}
nav ul li a {
  color: cornsilk;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.2em 0.4em;
}
nav ul li a:hover {
  background-color: darkgray;
}
footer {
  background-color: gray;
  clear: both;
  color: white;
  padding: 3em 0;
  margin-top: 2em;
  text-align: center;
}
nav ul li a.active {
  background-color: goldenrod;
}
.holder {
  max-width: 960px;
  margin: 0 auto;
}
h2 {
  color: black;
  font-weight: 400;
  margin: 0 0 1em;
}
.left {
  float: left;
}
.right {
  float: right;
}
.homeimg {
  width: auto;
  margin-bottom: 1.5em;
}
.columnas {
  overflow: hidden;
}
.bienvenidos,
.testimonios {
  box-sizing: border-box;
  width: 30%;
}
.bienvenidos {
  width: 70%;
}
.testimonio {
  background-color: burlywood;
  padding: 1em;
}
.testimonio .cita {
  font-weight: bold;
  font-style: italic;
  font-size: 1.4em;
  display: block;
}
.testimonio .autor {
  font-size: 0.7em;
}
/*Variedades*/
.historia p {
  font-size: 1em;
}
.variedades {
  overflow: hidden;
}
.tamaño {
  /*border: 1px solid gray;*/
  border-radius: 0.25em;
  /*float: left;*/
  margin-left: 2.25%;
  box-sizing: border-box;
}
.tamaño {
  text-align: center;
}
.tamaño img {
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0, 5);
}
.tamaño h5,
.tamaño h6 {
  text-align: center;
  font-weight: normal;
  color: black;
  margin: 0;
}
.tamaño h5 {
  font-size: 1em;
}
.tamaño h6 {
  font-size: 0.8em;
  font-style: italic;
}
.tamaño p {
  font-size: 0.9em;
  color: black;
  margin: 0 1em 1em;
}

.tamaño:first-child {
  margin-left: 0;
}

/*Colores*/
.color {
  border: 1px solid gray;
  border-radius: 0.7em;
  margin: 1em 0;
  padding: 1em;
  overflow: hidden;
}
.color .info {
  width: 75%;
}
.color .info h4 {
  color: black;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 500;
  margin: 0 0 1em;
  border-bottom: 1px solid black;
}
.color .info p {
  font-size: 0.8em;
  line-height: 1.2em;
}
.color:nth-child(even) img {
  float: right;
  margin: 0 0 0 1em;
}
.color:nth-child(even) .info {
  float: left;
}
.color:nth-child(odd) img {
  float: left;
  margin: 0 1em 0 0;
}
.color:nth-child(odd) .info {
  float: right;
}
/*Galeria*/
.contenedor-galeria {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  filter: brightness(70%);
}
.galeria__img {
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
  object-fit: fill;
  /*filter: brightness(70%);
  transition: transform 2s;*/
}

/*contacto*/
.columna {
  width: 50%;
  box-sizing: border-box;
  padding: 0.6em;
}
.columna.left {
  border-right: 1px solid gray;
}
.columna.right p {
  font-size: 0.9em;
}
.columna.right ul li {
  font-size: 1em;
}
.formulario label {
  vertical-align: top;
  width: 20%;
  display: inline-block;
}
.formulario input,
.formulario textarea {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0.4em 0.6em;
  font-size: 0.8em;
  width: 70%;
}
.formulario input[type="submit"] {
  background-color: wheat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 1em;
  width: auto;
  cursor: pointer;
}
.formulario textarea {
  height: 10em;
  resize: none;
}
.formulario .acciones {
  text-align: center;
}
